.header{
    background-color: #921A40;
    height: 83px;
}
.logo .text-xl-start{
    font-size: 2rem ;
    color: #FFE3c4 ;
}
.header .header-menu .main-nav .menu > li > a {
    color: #FFE3c4; 
}
.input-group .form-control{
    border: none;
    background-color:#FFE3c4 ;
}
.input-group .form-controlv :hover{
    border: none;
    background-color:#FFE3c4 ;
}
.btn{
    background-color: #FFE3c4;
    border: none;
}
.btn:hover{
    background-color: #FFE3c4;
    border: none;
}
.fa{
    color: #921A40;
}